<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="ru.otus.hw14"></context:component-scan>
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="cacheEngine" class="ru.otus.hw14.cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="1000"/>
        <constructor-arg name="lifeTimeMs" value="0"/>
        <constructor-arg name="idleTimeMs" value="0"/>
        <constructor-arg name="isEternal" value="true"/>
    </bean>

    <bean id="dbService" class="ru.otus.hw14.dbService.DBServiceHibernateImpl">
        <constructor-arg name="ru.otus.hw14.cache" ref="cacheEngine"/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.hw14.servlets.TemplateProcessor"/>

</beans>