<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheEngine" class="cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="1000"/>
        <constructor-arg name="lifeTimeMs" value="0"/>
        <constructor-arg name="idleTimeMs" value="0"/>
        <constructor-arg name="isEternal" value="true"/>
    </bean>

    <bean id="dbService" class="dbService.DBServiceHibernateImpl">
        <constructor-arg name="cache" ref="cacheEngine"/>
    </bean>

    <bean id="templateProcessor" class="servlets.TemplateProcessor"/>

</beans>